button{
    margin-left: 20px;
}
p{
    background-color: gold;
    width: 25%;
}
body{
background-image: url(/assets/library.png);
    background-size: 50%;
}
form{
    color: white;
    background-color: rgba(0,0,0,.5);

}