[class*="col-"]{
    width: 100%;
    float: left;
}
@media only screen and (max-width: 600px) {
body .container{
    margin-top: 0px;
}
 div .mylinks{
    font-size: 20px;
 }
 div .title{
    font-size: 20px;
 }
 div form div h2{
    font-size: 20px;
 }
 div .btn-success{
    margin-left: 40%;
 }

}

.container{
    position: relative;
    justify-content: center;
    align-items: center;
}

.mylinks{
    position: relative;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    margin-left: 2%;
    margin-top: 20px;
    overflow: hidden;
    text-decoration: none;
}
.mylinks::before{
    position: absolute;
    content: "";
    height: 4px;
    top: 0px;
    width: 0%;
    // width: 100%;
    // left: -100%;
    background-color: rgb(42, 216, 216);
}
.mylinks:hover::before{
    width: 100%;
    // left: 0px;
    transition: .5s;
}

.title{
    font-style: italic;
    padding: 20px;
}

form{
    margin-top: 20px;
}
h2{
    margin-bottom: 40px;
    color: red;
}

.btn-primary{
    margin-top: 20px;
    margin-bottom: 100px;
}
.btn-success{
    margin-top: 40px;
    margin-left: 44%;
}
.alert-success{
    font-weight: bold;
    margin-top: 20px;
}